.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;

    @include respond(br820) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3.2rem;
    }
  }

  &__img {
    height: 8rem;
    width: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.6rem;
  }

  &__text {
    text-align: center;
    margin-top: 1.6rem;
  }
}
