// COLORS
$c-primary: #7ebf25;
$c-white: #fff;
$c-black: #171819;
$c-grey-dark: #8e95a9;
$c-grey: #eee;
$c-grey-light: #f4f7f7;
$c-text: #171819;
$c-link: #2a400c;
$c-hover: #6ea61f;

// FONTS:
$f-regular: 400;
$f-bold: 700;

$font-open-sans: "Open Sans", sans-serif;
$font-lato: "Lato", sans-serif;

$font-btn: $font-open-sans;

// BORDERS
$b-small: solid 1px $c-grey-dark;
$b-small-light: solid 1px $c-grey;
