@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

@mixin txt-small {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.56rem;
}
.txt-small {
  @include txt-small;
}

@mixin txt-regular {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.56rem;
}
.txt-regular {
  @include txt-regular;
}

@mixin txt-big {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.8rem;
}
.txt-big {
  @include txt-big;
}

@mixin txt-h1 {
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 5.2rem;
}
.txt-h1 {
  @include txt-h1;
}

@mixin txt-h2 {
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.84rem;
  text-transform: uppercase;
  color: $c-black;
}
.txt-h2 {
  @include txt-h2;
}

@mixin txt-h3 {
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: $c-hover;
}
.txt-h3 {
  @include txt-h3;
}

@mixin txt-h5 {
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.56rem;
}
.txt-h5 {
  @include txt-h5;
}

@mixin product-card-title {
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: $c-hover;
}
.product-card-title {
  @include product-card-title;
}

@mixin txt-c-green {
  color: $c-primary;
}
@mixin txt-c-white {
  color: $c-white;
}

body {
  font-family: $font-open-sans;
  color: $c-text;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.56rem;
}

.plastas-link {
  color: $c-link;
  transition: color 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: $c-hover;
  }
}
